# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# swap and backup files
*~
*.swp
*.tmp

# minesweeper_ws build files 
minesweeper_ws/build/
minesweeper_ws/devel/
minesweeper_ws/src/CMakeLists.txt
minesweeper_ws/src/imu_tools/
minesweeper_ws/src/world_pub/
