<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />
  <param
    name="robot_description"
    textfile="$(find minesweeper_fixed)/urdf/minesweeper_fixed.urdf" />
  <param
    name="use_gui"
    value="true" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find minesweeper_fixed)/urdf.rviz" />
  <node pkg="tf" 
   type="static_transform_publisher" 
   name="link1_broadcaster" 
   args="1 0 0 0 0 0 1 world base_link 100" />
</launch>
